* {
    box-sizing : border-box;
    }
    body {
    margin : 0;
    display : flex;
    min-height : 100vh;
    font-size : 1rem;
    justify-content : center;
    background : url(fon.jpeg) no-repeat;
    background-attachment : fixed;
    background-size : cover;
    }
    .wrapper {
    min-height : 100vh;
    position : relative;
    box-sizing : border-box;
    width : 70%;
    display : flex;
    background-image : url(Gradient_Dark_Gray.png);
    flex-direction : column;
    border : black solid 2px;
    font-family : Verdana;
    transition : 0.5s;
    }
    header {
    width : 100%;
    }
    header ul {
    list-style-type : none;
    margin : 0;
    padding : 0;
    overflow : hidden;
    background-color : rgb(70 53 66 / 0.6);
    }
    li {
    float : left;
    border-right : 1px solid rgb(187 187 187);
    }
    li a {
    display : block;
    color : white;
    text-align : center;
    padding : 15px 15px;
    text-decoration : none;
    }
    .drop-form {
    position : relative;
    background-color : rgb(83 83 83 / 0.6);
    padding : 20px;
    display : none;
    min-width : 100%;
    }
    .userlogin {
    width : 100%;
    display : flex;
    justify-content : space-around;
    }
    input {
    width : 100%;
    border : 0;
    cursor : pointer;
    }
    .check_mail {
    display : inline-block;
    }
    .datelive {
    width : 50%;
    }
    .pass {
    margin-top : 5px;
    width : 100%;
    }
    button {
    border : 0;
    background : rgb(82 9 88 / 0.6);
    width : 100%;
    height : 20px;
    border-radius : 5px;
    }
    button:hover {
    background : rgb(82 9 88);
    }
    .sen {
    padding-top : 10px;
    }
    .block-none {
    display : none;
    }
    .block-display {
    display : block;
    overflow : hidden;
    }
    .togle {
    width : 100%;
    display : flex;
    justify-content : flex-end;
    }
    .dell {
    padding : 9px;
    }
    .slideshow-container {
    position : relative;
    border : 0;
    }
    .back, .next {
    cursor : pointer;
    position : absolute;
    top : 50%;
    width : auto;
    padding : 15px;
    color : white;
    font-size : 1.2rem;
    transition : 0.5s;
    user-select : none;
    }
    .next {
    right : 0;
    border-radius : 5px 0 0 5px;
    }
    .back:hover, .next:hover {
    background-color : rgb(83 146 172 / 0.8);
    }
    .text {
    color : #ffffff;
    font-size : 1rem;
    padding : 8px 12px;
    position : absolute;
    bottom : 25px;
    width : 100%;
    text-align : center;
    font-size : 1.5rem;
    text-shadow : 0 0 2px purple;
    }
    .fade {
    animation-name : fade;
    animation-duration : 1.5s;
    }
    img {
    width : 100%;
    max-height : 70%;
    }
    .sect {
    font-size : 1.2rem;
    color : black;
    text-shadow : 0 0 2px rgb(138 138 138);
    }
    .sect p {
    background-color : rgb(255 255 255 / 0.1);
    }
    
    .foot {
    display : flex;
    justify-content : center;
    align-items : center;
    height : 50px;
    }
    .home {
    display : flex;
    justify-content : center;
    align-items : center;
    }
    .home li a {
    font-size : 1.5rem;
    text-shadow : 0 0 4px rgb(0 0 0);
    color : rgb(65 24 49);
    border : rgb(58 28 51) solid 2px;
    border-radius : 5px;
    background-color : rgb(255 255 255 / 0.5);
    padding-left : 55px;
    padding-right : 55px;
    }
    @media screen and (max-width: 480px) {
    .dell {
    display : none;
    }
    .text {
    font-size : 1rem;
    }
    }
    @media screen and (max-width: 700px) {
    .wrapper {
    width : 100%;
    }
    }
        
    .zag{
        font-size: 100px;
        margin-left: 37%;
        margin-top: 4%;
        color: rgb(253, 155, 7);
    }
        
    @media screen and (max-width: 700px) {
        .zag {
        font-size: 50px;
        }
        }